<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A personal blog by Harry Gillingham."/>
    <title>
        harrygillingham.xyz
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon/favicon.ico")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")" />
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/favicon/favicon-16x16.png")" />
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/favicon/favicon-32x32.png")" />
    <link rel="manifest" href="@Url.Content("~/favicon/site.webmanifest")">
    
        
        
        <link href='@Url.Content("~/css/admin.5392afab.min.css")' rel="stylesheet">
        
    

    
        
            
                    <script defer src='@Url.Content("~/js/admin.f0894b38.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/runtime.0a882af8.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/react-dom.ebf3aec0.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/react-router.23ed0408.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/react-router-dom.d93c8ea1.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/remix-run.4afab91b.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/vendors.417c22fb.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/lodash-es.8e986dc0.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/popperjs.81ca4d71.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/lodash.3b4b2a55.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/formik.bcbb5b29.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/bootstrap.96a84a68.js")'></script>
                    
                        
        
            
                    <script defer src='@Url.Content("~/js/shared.77c1a005.js")'></script>
                    
                        

</head>

<body class="flex flex-col min-h-screen">
        @RenderBody()
</body>

</html>