<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A personal blog by Harry Gillingham."/>
    <title>
        DEV | harrygillingham.xyz
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon/favicon.ico")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")" />
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/favicon/favicon-16x16.png")" />
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/favicon/favicon-32x32.png")" />
    <link rel="manifest" href="@Url.Content("~/favicon/site.webmanifest")">
    

    
        
            
                <script defer src='@Url.Content("https://localhost:8080/js/admin.bundle.js")' type="text/javascript"></script>
                
                        
        
            
                <script defer src='@Url.Content("https://localhost:8080/js/runtime.bundle.js")' type="text/javascript"></script>
                
                        
        
            
                <script defer src='@Url.Content("https://localhost:8080/js/vendors.bundle.js")' type="text/javascript"></script>
                
                        
        
            
                <script defer src='@Url.Content("https://localhost:8080/js/shared.bundle.js")' type="text/javascript"></script>
                
                        

</head>

<body class="flex flex-col min-h-screen">
        @RenderBody()
</body>

</html>